* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.container {
    height: 40%;
    width: 40%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container input {
    padding: 10px 20px;
    margin-bottom: 10px;
    width: 80%;
    outline: none;
}
.container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    background-color: red;
    width: 150px;
    color: white;
    cursor: pointer;
}
.background-image {
    background-image: url("https://plus.unsplash.com/premium_photo-1730759667925-e934dc7beb63?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
    z-index: -1;
    filter: blur(20px);
}
