* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
:root {
    --main-color: red;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
}
.container {
    background-color: black;
    padding: 30px;
    box-shadow: black 0px 20px 40px 10px;
}
.container h2 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 26px;
    color: white;
}
input {
    padding: 20px;
    user-select: none;
    height: 50px;
    width: 400px;
    border: none;
    border: 2px solid black;
    /* border: none; */
    border-radius: 10px;
    outline: none;
    font-size: 20px;
}
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button {
    font-size: 15px;
    margin-top: 10px;
    /* border: 2px solid black; */
    border: none;
    border-radius: 10px;
    width: 155px;
    height: 30px;
    text-align: center;
    background-color: red;
    color: aliceblue;
    text-transform: uppercase;
    cursor: pointer;
}
