body {
    margin: 0;
    padding: 0;
    background: #555;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    position: relative;
    width: 800px;
    height: 500px;
    background: #222;
}
.clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}
.clip1 {
    background-image: url(https://i.pinimg.com/564x/3d/f9/c8/3df9c866dc46821f9f5417ae66bdbfc8.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 46% 0, 39% 100%, 0 100%);
}
.clip2 {
    background-image: url(https://i.pinimg.com/564x/f4/cc/4d/f4cc4d001d151f2d0402dc3c59e10a5c.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(19% 0, 87% 0, 64% 100%, 33% 100%);

}
.clip3 {
    background-image: url(https://i.pinimg.com/564x/f7/92/53/f79253bfc190974bb57c8b54f69128a1.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(82% 0, 100% 0, 100% 100%, 63% 100%);
}
.container:hover .clip {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.container .clip:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
