* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background-color: black;
    background: linear-gradient(white, black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: verdana;
}
.container {
    width: 80%;
    height: 600px;
    padding: 20px;
    /* color: aliceblue; */
    font-weight: bold;
    position: relative;
}
input {
    width: 100%;
    padding: 10px;
    margin-top: 4px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.table {
    background-color: orangered;
    width: 100%;
}
.table-section {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
#book-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow: hidden;
    word-wrap: break-word;
    background-color: white;
    color: black;
}
#book-list > section {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    border-bottom: 1px solid whitesmoke;
    padding: 10px;
}
.btn {
    background-color: yellow;
    border: none;
    /* color: antiquewhite; */
    margin-bottom: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}
